.colorGen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    font-size: 18px;
}

.colorGen-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    background-color: #f0f0f0;
}

.colorButt{
    display: flex;
    gap: 20px;
    justify-content: center;
}